.start {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .start .div {
    background-color: #ffffff;
    width: 1440px;
    height: 3303px;
    position: relative;
  }
  
  .start .navbar {
    position: absolute;
    width: 1440px;
    height: 511px;
    top: 2792px;
    left: 0;
    background-color: transparent;
  }
  
  .start .group {
    position: absolute;
    width: 1442px;
    height: 131px;
    top: 380px;
    left: 0;
  }
  
  .start .overlap-group {
    position: relative;
    width: 1440px;
    height: 131px;
    background-color: #189b72;
  }
  
  .start .c-food-paradise {
    position: absolute;
    top: 56px;
    left: 628px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #f5f5dc;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.2px;
    white-space: nowrap;
  }
  
  .start .text-wrapper {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #f5f5dc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19.2px;
  }
  
  .start .overlap {
    position: absolute;
    width: 1440px;
    height: 380px;
    top: 0;
    left: 0;
    background-color: #f5f5dc;
    box-shadow: 0px -16px 72px #ababab54;
  }
  
  .start .group-2 {
    position: relative;
    width: 1296px;
    height: 257px;
    top: 61px;
    left: 93px;
  }
  
  .start .FOOD-PARADISE {
    position: absolute;
    width: 218px;
    top: 0;
    left: 0;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #e34651;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .start .text-wrapper-2 {
    position: absolute;
    width: 180px;
    top: 13px;
    left: 258px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #e34651;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-3 {
    position: absolute;
    width: 180px;
    top: 82px;
    left: 258px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-4 {
    position: absolute;
    width: 180px;
    top: 130px;
    left: 258px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-5 {
    position: absolute;
    width: 180px;
    top: 178px;
    left: 258px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-6 {
    position: absolute;
    width: 180px;
    top: 226px;
    left: 258px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-7 {
    position: absolute;
    width: 180px;
    top: 13px;
    left: 462px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #e34651;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-8 {
    position: absolute;
    width: 180px;
    top: 82px;
    left: 462px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-9 {
    position: absolute;
    width: 180px;
    top: 130px;
    left: 462px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-10 {
    position: absolute;
    width: 180px;
    top: 13px;
    left: 666px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #e34651;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-11 {
    position: absolute;
    width: 180px;
    top: 82px;
    left: 666px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-12 {
    position: absolute;
    width: 180px;
    top: 130px;
    left: 666px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-13 {
    top: 13px;
    color: #e34651;
    position: absolute;
    width: 180px;
    left: 870px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-14 {
    position: absolute;
    width: 180px;
    top: 82px;
    left: 870px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-15 {
    position: absolute;
    width: 180px;
    top: 130px;
    left: 870px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-16 {
    top: 178px;
    color: var(--dark-gray);
    position: absolute;
    width: 180px;
    left: 870px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-17 {
    position: absolute;
    width: 180px;
    top: 13px;
    left: 1074px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #e34651;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-18 {
    position: absolute;
    width: 180px;
    top: 82px;
    left: 1074px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-19 {
    position: absolute;
    width: 180px;
    top: 130px;
    left: 1074px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-20 {
    position: absolute;
    width: 180px;
    top: 178px;
    left: 1074px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .text-wrapper-21 {
    position: absolute;
    width: 180px;
    top: 226px;
    left: 1074px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-gray);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .start .frame-wrapper {
    position: absolute;
    width: 1440px;
    height: 131px;
    top: 0;
    left: 0;
    background-color: #199b72;
  }
  
  .start .frame {
    position: relative;
    width: 1315px;
    height: 87px;
    top: 22px;
    left: 62px;
  }
  
  .start .before-login {
    position: relative;
    height: 87px;
  }
  
  .start .text-wrapper-22 {
    position: absolute;
    width: 364px;
    top: 11px;
    left: 0;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .start .text-wrapper-23 {
    position: absolute;
    width: 105px;
    top: 27px;
    left: 558px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #eda75f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .start .text-wrapper-24 {
    width: 120px;
    top: 27px;
    left: 689px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
  }
  
  .start .text-wrapper-25 {
    width: 139px;
    top: 27px;
    left: 835px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
  }
  
  .start .user-circle {
    position: absolute;
    width: 91px;
    height: 87px;
    top: 0;
    left: 1224px;
  }
  
  .start .dropdown-bahasa-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 9px;
    left: 989px;
  }
  
  .start .dropdown-bahasa {
    display: flex;
    width: 200px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    border: 2px solid;
    border-color: #ffffff;
    box-shadow: 0px 35px 40px #0000000d;
  }
  
  .start .text-wrapper-26 {
    position: relative;
    flex: 1;
    margin-top: -6px;
    margin-bottom: -2px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .start .caret-down {
    position: relative;
    width: 32px;
    height: 32px;
    margin-top: -2px;
    margin-bottom: -2px;
  }
  
  .start .group-3 {
    position: absolute;
    width: 827px;
    height: 63px;
    top: 2646px;
    left: 311px;
  }
  
  .start .p {
    position: absolute;
    top: 15px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
  }
  
  .start .overlap-group-wrapper {
    position: absolute;
    width: 225px;
    height: 63px;
    top: 0;
    left: 602px;
  }
  
  .start .div-wrapper {
    position: relative;
    width: 223px;
    height: 63px;
    background-color: #199b72;
    border-radius: 20px;
  }
  
  .start .text-wrapper-27 {
    position: absolute;
    width: 126px;
    top: 17px;
    left: 49px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #f5f5dc;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .start .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 2455px;
    top: 150px;
    left: 0;
  }
  
  .start .overlap-wrapper {
    position: absolute;
    width: 1440px;
    height: 2455px;
    top: 0;
    left: 0;
  }
  
  .start .overlap-3 {
    position: relative;
    width: 1448px;
    height: 2455px;
  }
  
  .start .rectangle {
    position: absolute;
    width: 1440px;
    height: 577px;
    top: 587px;
    left: 0;
    background-color: #f5f5dc;
    box-shadow: 0px 0.28px 2.21px #00000005, 0px 0.67px 5.32px #00000007, 0px 1.25px 10.02px #00000009,
      0px 2.23px 17.87px #0000000b, 0px 4.18px 33.42px #0000000d, 0px 10px 80px #00000012;
  }
  
  .start .group-4 {
    position: absolute;
    width: 1448px;
    height: 2455px;
    top: 0;
    left: 0;
  }
  
  .start .text-wrapper-28 {
    top: 754px;
    left: 829px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 44px;
    line-height: 48.4px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
  }
  
  .start .text-wrapper-29 {
    position: absolute;
    width: 409px;
    top: 824px;
    left: 829px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .start .text-wrapper-30 {
    top: 1333px;
    left: 829px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 44px;
    line-height: 48.4px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
  }
  
  .start .text-wrapper-31 {
    position: absolute;
    width: 436px;
    top: 1403px;
    left: 829px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .start .group-wrapper {
    position: absolute;
    width: 1440px;
    height: 710px;
    top: 1745px;
    left: 0;
    background-color: #f5f5dc;
    box-shadow: 0px 0.28px 2.21px #00000005, 0px 0.67px 5.32px #00000007, 0px 1.25px 10.02px #00000009,
      0px 2.23px 17.87px #0000000b, 0px 4.18px 33.42px #0000000d, 0px 10px 80px #00000012;
  }
  
  .start .group-5 {
    position: relative;
    width: 1093px;
    height: 574px;
    top: 68px;
    left: 170px;
  }
  
  .start .overlap-group-2 {
    position: relative;
    width: 1098px;
    height: 574px;
  }
  
  .start .group-6 {
    position: absolute;
    width: 1093px;
    height: 276px;
    top: 170px;
    left: 0;
  }
  
  .start .image {
    width: 331px;
    left: 762px;
    position: absolute;
    height: 276px;
    top: 0;
    object-fit: cover;
  }
  
  .start .makbeng {
    position: absolute;
    width: 323px;
    height: 276px;
    top: 0;
    left: 363px;
    object-fit: cover;
  }
  
  .start .img {
    width: 288px;
    left: 0;
    position: absolute;
    height: 276px;
    top: 0;
    object-fit: cover;
  }
  
  .start .group-7 {
    position: absolute;
    width: 1070px;
    height: 574px;
    top: 0;
    left: 28px;
  }
  
  .start .paling-favorit {
    position: absolute;
    width: 400px;
    top: 0;
    left: 312px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--black);
    font-size: 44px;
    text-align: center;
    letter-spacing: 0;
    line-height: 48.4px;
    white-space: nowrap;
  }
  
  .start .text-wrapper-32 {
    position: absolute;
    width: 226px;
    top: 512px;
    left: 0;
    font-family: "Poppins-ExtraLightItalic", Helvetica;
    font-weight: 200;
    font-style: italic;
    color: var(--black);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.4px;
  }
  
  .start .warung-mak-beng {
    position: absolute;
    width: 324px;
    top: 517px;
    left: 343px;
    font-family: "Poppins-ExtraLightItalic", Helvetica;
    font-weight: 200;
    font-style: italic;
    color: var(--black);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.4px;
  }
  
  .start .menega-cafe-jimbaran {
    position: absolute;
    width: 324px;
    top: 517px;
    left: 736px;
    font-family: "Poppins-ExtraLightItalic", Helvetica;
    font-weight: 200;
    font-style: italic;
    color: var(--black);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.4px;
  }
  
  .start .text-wrapper-33 {
    position: absolute;
    width: 678px;
    top: 62px;
    left: 173px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.8px;
    white-space: nowrap;
  }
  
  .start .group-8 {
    position: absolute;
    width: 1234px;
    height: 500px;
    top: 0;
    left: 106px;
  }
  
  .start .overlap-4 {
    position: relative;
    width: 1334px;
    height: 740px;
    top: -43px;
  }
  
  .start .overlap-5 {
    position: absolute;
    width: 1334px;
    height: 740px;
    top: 0;
    left: 0;
  }
  
  .start .text-wrapper-34 {
    position: absolute;
    width: 430px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 64px;
    letter-spacing: 0;
    line-height: 64px;
  }
  
  .start .text-wrapper-35 {
    position: absolute;
    width: 380px;
    top: 316px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .start .artboard {
    position: absolute;
    width: 974px;
    height: 740px;
    top: 0;
    left: 360px;
    object-fit: cover;
  }
  
  .start .group-9 {
    position: absolute;
    width: 225px;
    height: 63px;
    top: 437px;
    left: 1px;
  }
  
  .start .group-10 {
    position: absolute;
    width: 255px;
    height: 63px;
    top: 933px;
    left: 829px;
  }
  
  .start .overlap-6 {
    position: relative;
    width: 253px;
    height: 63px;
    background-color: #199b72;
    border-radius: 20px;
  }
  
  .start .text-wrapper-36 {
    position: absolute;
    width: 172px;
    top: 17px;
    left: 39px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #f5f5dc;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .start .group-11 {
    position: absolute;
    width: 255px;
    height: 63px;
    top: 1512px;
    left: 829px;
  }
  
  .start .object {
    position: absolute;
    width: 580px;
    height: 476px;
    top: 638px;
    left: 124px;
    object-fit: cover;
  }
  
  .start .object-2 {
    position: absolute;
    width: 580px;
    height: 580px;
    top: 1165px;
    left: 124px;
    object-fit: cover;
  }
  
