.frame {
    width: 1315px;
    height: 87px;
  }
  
  .frame .before-login {
    position: relative;
    height: 87px;
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 364px;
    top: 11px;
    left: 0;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div {
    position: absolute;
    width: 105px;
    top: 27px;
    left: 558px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffcf9d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 120px;
    top: 27px;
    left: 689px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 139px;
    top: 27px;
    left: 835px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .user-circle {
    position: absolute;
    width: 91px;
    height: 87px;
    top: 0;
    left: 1224px;
  }
  
  .frame .dropdown-bahasa-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 9px;
    left: 989px;
  }
  
  .frame .dropdown-bahasa {
    display: flex;
    width: 200px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    border: 2px solid;
    border-color: #ffffff;
    box-shadow: 0px 35px 40px #0000000d;
  }
  
  .frame .text-wrapper-4 {
    position: relative;
    flex: 1;
    margin-top: -6px;
    margin-bottom: -2px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .caret-down {
    position: relative;
    width: 32px;
    height: 32px;
    margin-top: -2px;
    margin-bottom: -2px;
  }
  